*, :after, :before {
    box-sizing: border-box;
}
body {
    background-color: #ddd;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
}
main {
    margin: auto;
    height: 100vh;
    max-height: 480px;
    min-height: 320px;
    /*max-width: 480px;*/
    min-width: 320px;
    position: relative;
}
button {
    background-color: #ddd;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    padding: 8px 20px
}
button:hover {
    background-color: #e6e6e6;
    color: #fff;
}
button:focus {
    outline: 0;
}
.cf:after {
    clear: both;
    content: '';
    display: table;
}
.application {
    bottom: 8px;
    left: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
}
.table {
    display: table;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
}
.color1 {
    background-color: #fff !important;
}
.color2 {
    background-color: #ff0 !important;
}
.color3 {
    background-color: #f90 !important;
}
.color4 {
    background-color: #f00 !important;
}
.color5 {
    background-color: #06f !important;
}
.color6 {
    background-color: #0ff !important;
}
.color7 {
    background-color: #0f0 !important;
}
.color8 {
    background-color: #9f0 !important;
}
.application {
}
.racks,
.rack__generator,
.rack__processors,
.plugin__header,
.plugin__pages,
.plugin__controls,
.ctrls,
.song__list,
.overlay-ctrl__items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tile,
.ctrl {
    background-color: #ddd;
    border: 1px solid #fff;
    display: block;
    float: left;
    height: 40px;
    position: relative;
    text-align: center;
    width: 100%;
}
    .tile--12 {
        width: 12.5%;
    }
.clearfix,
.ctrls:after {
    clear: both;
    content: '';
    display: table;
}
    .ctrl {
        cursor: pointer;
    }
    .ctrl--25 {
        width: 25%;
    }
    .ctrl--50 {
        width: 50%;
    }
    .ctrl--100 {
        width: 100%;
    }
        .ctrl__layer {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .ctrl__background {
            opacity: 0.1;
        }
        .ctrl__label {}
        .ctrl__text {
            bottom: 0;
            color: #fff;
            line-height: 40px;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .ctrl__name {
            color: #fff;
            font-size: 12px;
            left: 0;
            position: absolute;
            right: 0;
            top: 3px;
        }
        .ctrl__value {
            color: #fff;
            font-size: 17px;
            left: 0;
            position: absolute;
            right: 0;
            top: 15px;
        }
.channels {
    display: none;
}
    .channel {
        float: left;
        width: 12.5%;
    }
    .channel.selected {
        background-color: #888;
    }
        .channel-selects {
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
        }
        .channel__select {}
        .ctrl--channel-select {
            width: 12.5%;
        }
                .ctrl--channel-select > .ctrl__background {
                    opacity: 0.2;
                }
                .ctrl--channel-select.selected > .ctrl__background {
                    opacity: 0.4;
                }
                .ctrl--channel-select > .ctrl__hilight {
                    background-color: #999;
                    display: none;
                    opacity: 0.6;
                }
                .ctrl--channel-select > .ctrl__name {
                    color: #ccc;
                }
                .ctrl--channel-select.selected .ctrl__name  {
                    color: #fff;
                }
        .channel__controls {
            width: 100%;
        }
            .channel__controls .ctrl__background {
                opacity: 0.1;
            }
            .channel.selected .channel__controls .ctrl__background {
                opacity: 0.2;
            }
            .channel__controls .ctrl__hilight {
                display: none;
                opacity: 0.3;
            }
            .channel__controls .ctrl.selected .ctrl__hilight {
                display: block;
            }
            .channel__controls .ctrl.selected .ctrl__text {
                color: #fff;
            }
            /*.channel__controls .plugin__control:nth-child(1),
            .channel__controls .plugin__control:nth-child(2) {
                width: 50%;
            }*/
.steps {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
    .step {
        width: 12.5%;
    }
    .step:nth-child(8n + 1) {
        clear: left;
    }
    .step.active {
        background-color: #e4e4e4;
    }
        .step.active.selected .ctrl__text {
            /*color: #ccc;*/
        }
        .step > .ctrl__background {
            opacity: 0.2;
        }
        .step > .ctrl__hilight {
            display: none;
            opacity: 0.4;
        }
        .step.selected .ctrl__name {
            color: #ccc;
        }
#patterns {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display: none;
}
#patterns:after {
    clear: both;
    content: '';
    display: table;
}
    .pattern {
        width: 12.5%;
    }
    .pattern.selected .ctrl__background {
        background-color: #fff;
        opacity: 0.2;
    }
#tracks {
    border: 1px solid #fff;
}
    .tracks__track {}
    .tracks__track:after {
        clear: both;
        content: '';
        display: table;
    }
        .tracks__step {
            border: 1px solid #fff;
            float: left;
            height: 20px;
            position: relative;
            width: 6.25%;
        }
        .tracks__step.active {
            
        }
        .tracks__step:before {
            background-color: #ddd;
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .tracks__step.selected:before {
            opacity: 0.8;
        }
        .tracks__step.selected.active:before {
            opacity: 0.6;
        }
.song {}
    .song__header {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
    .song__list-container {
        bottom: 40px;
        left: 0;
        overflow: auto;
        position: absolute;
        right: 0;
        top: 80px;
    }
    .song-part {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        width: 100%;
    }
    .song-part:first-child {
        border-top: 1px solid #fff;
    }
    .song-part:last-child {
        border-bottom: 1px solid #fff;
    }
        .song-part.active .ctrl__background {
            background-color: #fff;
            opacity: 0.3;
        }
        .song-part.active .ctrl__text {
            color: #fff;
        }
        .song-part__filler,
        .song__header-filler {
            width: 62.5%;
        }
.rack {
    display: none;
}
    .rack.selected {
        display: block;
    }
    .rack__generator {}
        .rack__generator .plugin__control {
            width: 25%;
        }

.plugin {}
    .plugin__header {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
    .plugin__header:after {
        clear: both;
        content: '';
        display: table;
    }
        .plugin__header .ctrl__background {
            /*opacity: 0.2;*/
        }
        .plugin__name {
            cursor: default;
            width: 50%;
        }
        .plugin__page-prev {
            width: 12.5%;
        }
        .plugin__page-number {
            cursor: default;
            width: 12.5%;
        }
        .plugin__page-next {
            width: 12.5%;
        }
        .plugin__page-prev.disabled,
        .plugin__page-next.disabled {
            cursor: default;
        }
        .plugin__settings {
            width: 12.5%;
        }
            .plugin__page-prev.disabled .ctrl__text,
            .plugin__page-next.disabled .ctrl__text {
                opacity: 0.5;
            }
    .plugin__pages {
        /*height: 160px;*/
        overflow: hidden;
        width: 100%;
    }
        .plugin__page {
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            display: none;
            width: 100%;
        }
        .plugin__page:after {
            clear: both;
            content: '';
            display: table;
        }
        .plugin__page.selected {
            display: block;
        }
            .plugin__controls {}
                .plugin__control {
                    background-color: #ddd;
                    display: block;
                    float: left;
                    height: 40px;
                    width: 100%;
                }
                .plugin__control.empty {
                    border: 1px solid #fff;
                }
                    .plugin__control .ctrl {
                        float: none;
                    }
.tabs {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}
    .ctrl--tab {
        width: 25%;
    }
        .ctrl--tab > .ctrl__background {
            background-color: #fff;
            opacity: 0.0;
        }
        .ctrl--tab.selected > .ctrl__background {
            opacity: 0.2;
        }
        .ctrl--tab.selected > .ctrl__text {
            color: #fff;
        }

#controlbar {
    border: 1px solid #fff;
    bottom: 0;
    height: 42px;
    left: 0;
    position: absolute;
    right: 0;
}
    .ctrl--controlbar {
        width: 25%;
    }
    .ctrl--controlbar .ctrl__hilight {
        background-color: #fff;
        display: none;
        opacity: 0.6
    }
    .ctrl--controlbar.selected .ctrl__hilight {
        display: block;
    }
    /*.ctrl:not(.active) .ctrl__toggle-active,
    .ctrl.active .ctrl__toggle-inactive {
        display: none;
    }*/
.overlay {
    background-color: rgba(225, 225, 225, 0.4);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
    .overlay__content {
        background-color: #ddd;
        border: 2px solid #fff;
        height: 400px;
        max-height: 400px;
        max-width: 200px;
        position: absolute;
    }
        .overlay__color {
            bottom: 0;
            left: 0;
            opacity: 0.1;
            position: absolute;
            right: 0;
            top: 0;
        }
#overlay-startup {}
    .overlay-startup_header {
        display: block;
        font-size: 32px;
        margin-top: 50px;
    }
#overlay-ctrl-generic {}
    .overlay-ctrl__info {
        padding: 20px 10px 0 10px;
        margin: 0 auto;
        max-width: 280px;
        width: 100%;
    }
    .overlay-ctrl__info td:nth-child(2) {
        width: 60%;
    }
    .overlay-ctrl__value {
        font-size: 36px;
    }
    .overlay-ctrl__slider {
        background-color: #ddd;
        border: 2px solid #fff;
        bottom: 10px;
        left: 10px;
        position: absolute;
        right: 10px;
        top: 100px;
    }
        .overlay-ctrl__slider-thumb {
            background-color: #eee;
            border-top: 2px solid #fff;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
        }
#overlay-ctrl-itemized {}
    .overlay-ctrl__items {
        border: 2px solid #fff;
        margin: 20px 30px;
    }
        .overlay-ctrl__item:not(:last-child) {
            border-bottom: 2px solid #fff;
        }
        .overlay-ctrl__item {
            background-color: #ddd;
            color: #fff;
            padding: 15px 30px;
            cursor: pointer;
        }
        .overlay-ctrl__item.selected {
            color: #ccc;
            background-color: #fff;
        }
        .overlay-ctrl__item.active {
            color: #ccc;
            background-color: #eee;
        }
#overlay-dialog {
}
    .dialog {
        background: #ddd;
        border: 2px solid #fff;
        margin: 0 auto;
        max-width: 400px;
        padding: 10px 30px;
    }
        .dialog__header {
            font-size: 2rem;
        }
        .dialog__controls {
            font-size: 0;
            text-align: center;
        }
            .dialog__button {
                margin: 10px 2px 10px 2px;
            }
#templates {
    display: none;
}

@media only screen and (min-width: 656px) {
    .tabs {
        display: none;
    }
}

/********************
 * 2 columns
 ********************/
[data-cols='2'] {
     max-height: none;
}
[data-cols='2'] .channel-selects,
[data-cols='2'] .channels,
[data-cols='2'] .steps,
[data-cols='2'] #tracks,
[data-cols='2'] #patterns,
[data-cols='2'] .racks,
[data-cols='2'] .song {
    display: block !important;
    position: absolute;
    width: 50%;
}
[data-cols='2'] .channel-selects {
    border-top: 1px solid #fff;
    left: 0;
    top: 0;
}
[data-cols='2'] .channels {
    border-top: 1px solid #fff;
    left: 0;
    top: 40px;
}
[data-cols='2'] .racks {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    bottom: 40px;
    left: 0;
    overflow-y: auto;
    top: 200px;
}
    [data-cols='2'] .rack {
        display: block !important;
    }
[data-cols='2'] .steps {
    border-top: 1px solid #fff;
    left: 50%;
    top: 0;
}
[data-cols='2'] #tracks {
    display: block;
    left: 50%;
    top: 80px;
}
[data-cols='2'] #patterns {
    border-top: 1px solid #fff;
    left: 50%;
    top: 240px;
}
[data-cols='2'] .song {
    border-top: 1px solid #fff;
    bottom: 40px;
    left: 50%;
    top: 320px;
}
    [data-cols='2'] .song__list-container {
        bottom: 2px;
        top: 40px;
    }
    [data-cols='2'] .song-part:first-child {
        border-top: none;
    }
    [data-cols='2'] .plugin__page {
        border-bottom: none;
    }

/********************
 * 3 columns
 ********************/
[data-cols='3'] {
     max-height: none;
}
[data-cols='3'] .channel-selects,
[data-cols='3'] .channels,
[data-cols='3'] .steps,
[data-cols='3'] #patterns,
[data-cols='3'] .racks,
[data-cols='3'] #tracks,
[data-cols='3'] .song {
    display: block !important;
    position: absolute;
    width: 33.3333%;
}
[data-cols='3'] .channel-selects {
    border-top: 1px solid #fff;
    left: 33.3333%;
    top: 0;
}
[data-cols='3'] .channels {
    border-top: 1px solid #fff;
    left: 33.3333%;
    top: 40px;
}
[data-cols='3'] .racks {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    bottom: 40px;
    left: 0;
    overflow-y: auto;
    top: 0;
}
    [data-cols='3'] .rack {
        display: block !important;
    }
[data-cols='3'] .steps {
    border-top: 1px solid #fff;
    left: 66.6666%;
    top: 0;
}
[data-cols='3'] #tracks {
    display: block;
    left: 66.6666%;
    top: 80px;
}
[data-cols='3'] #patterns {
    border-top: 1px solid #fff;
    left: 66.6666%;
    top: 240px;
}
[data-cols='3'] .song {
    border-top: 1px solid #fff;
    bottom: 40px;
    left: 33.3333%;
    top: 160px;
}
    [data-cols='3'] .song__list-container {
        bottom: 0;
        top: 40px;
    }
    [data-cols='3'] .song-part:first-child {
        border-top: none;
    }
    [data-cols='3'] .plugin__page {
        border-bottom: none;
    }

/********************
 * 4 columns
 ********************/
[data-cols='4'] {
     max-height: none;
}
[data-cols='4'] .channel-selects,
[data-cols='4'] .channels,
[data-cols='4'] .steps,
[data-cols='4'] #tracks,
[data-cols='4'] #patterns,
[data-cols='4'] .racks,
[data-cols='4'] .song {
    display: block !important;
    position: absolute;
    width: 25%;
}
[data-cols='4'] .channel-selects {
    border-top: 1px solid #fff;
    left: 25%;
    top: 0;
}
[data-cols='4'] .channels {
    border-top: 1px solid #fff;
    left: 25%;
    top: 40px;
}
[data-cols='4'] .racks {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    bottom: 40px;
    left: 0;
    overflow-y: auto;
    top: 0;
}
    [data-cols='4'] .rack {
        display: block !important;
    }
[data-cols='4'] .steps {
    border-top: 1px solid #fff;
    left: 50%;
    top: 0;
}
[data-cols='4'] #tracks {
    display: block;
    left: 50%;
    top: 80px;
}
[data-cols='4'] #patterns {
    border-top: 1px solid #fff;
    left: 50%;
    top: 240px;
}
[data-cols='4'] .song {
    border-top: 1px solid #fff;
    bottom: 40px;
    left: 75%;
    top: 0;
}
    [data-cols='4'] .song__list-container {
        bottom: 2px;
        top: 40px;
    }
    [data-cols='4'] .song-part:first-child {
        border-top: none;
    }
    [data-cols='4'] .plugin__page {
        border-bottom: none;
    }
