*, :after, :before {
    box-sizing: border-box;
}
body {
    background-color: #333;
    color: #ccc;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 8px;
    text-align: center;
}
.channelBgCol1 {
    background-color: #fff !important;
}
.channelBgCol2 {
    background-color: #ff0 !important;
}
.channelBgCol3 {
    background-color: #f90 !important;
}
.channelBgCol4 {
    background-color: #f00 !important;
}
.channels,
.steps,
.instrument-control,
.control {
    list-style: none;
    margin: 0;
    padding: 0;
}
    .channel,
    .step,
    .instr-control__item,
    .control__item {
        cursor: pointer;
        float: left;
        height: 50px;
        position: relative;
        text-align: center;
    }
        .channel__background,
        .channel__hilight,
        .channel__label,
        .step__background,
        .step__hilight,
        .instr-control__background {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    .channel {
        background-color: #666;
        border: 1px solid #333;
        width: 25%;
    }
    .channel.is-selected {
        background-color: #888;
    }
        .channel__background {
            opacity: 0.2;
        }
        .channel.is-selected .channel__background {
            opacity: 0.4;
        }
        .channel__hilight {
            background-color: #999;
            display: none;
            opacity: 0.6;
        }
        .channel__label {
            color: #ccc;
            line-height: 50px;
        }
        .channel.is-selected .channel__label  {
            color: #fff;
        }
    .step {
        background-color: #666;
        border: 1px solid #333;
        line-height: 50px;
        width: 12.5%;
    }
    .step:nth-child(8n + 1) {
        clear: left;
    }
        .step__background {
            opacity: 0.2;
        }
        .step__hilight {
            display: none;
            opacity: 0.6;
        }
    .step.is-active {
        background-color: #777;
    }
    .step.is-selected  .step__label {
        color: #fff;
    }
.instrument-control:after {
    clear: both;
    content: '';
    display: table;
}
    .instr-control__item {
        background-color: #666;
        border: 1px solid #333;
        padding-top: 6px;
        width: 25%;
    }
        .instr-control__background {
            opacity: 0.1;
        }
        .instr-control__name {
            color: #eee;
            font-size: 12px;
            left: 0;
            position: absolute;
            right: 0;
        }
        .instr-control__value {
            color: #eee;
            font-size: 17px;
            left: 0;
            top: 20px;
            position: absolute;
            right: 0;
        }
.control {
    bottom: 8px;
    left: 8px;
    position: fixed;
    right: 8px;
}
    .control__item {
        background-color: #666;
        border: 1px solid #333;
        line-height: 50px;
        width: 25%;
    }
    .control__item:not(.is-active) .control__item-active,
    .control__item.is-active .control__item-inactive {
        display: none;
    }
#startup-overlay {
    background-color: #333;
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#templates {
    display: none;
}
